@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
  --azure: #0290ff;
  --black-two: #121212;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  margin-top: -1em;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header-left {
  display: flex;
  align-items: center;
}

.Bookstore-CMS {
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--azure);
}

.header-left-links {
  margin-left: 2em;
}

.header-left-links .BOOKS {
  color: var(--black-two);
}

.header-left span {
  margin-left: 1em;
  font-size: 0.8rem;
  color: #ccc;
}

.header-left span > .active {
  color: #000;
}

.header-right {
  margin-right: 2em;
  color: var(--azure);
  margin-top: 1.8em;
  transform: scale(1.5);
}

/* ------------BOOK ITEM------------------ */

main {
  max-width: 1200px;
  margin: 1em auto;
}

.Lesson-Panel {
  width: 1200px;
  margin: 1em auto;
  padding: 1em;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.Lesson-Panel-left {
  display: flex;
  flex-direction: column;
}

.category {
  opacity: 0.5;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--black-two);
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.author {
  font-family: 'Roboto Slab', serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #4386bf;
}

.Lesson-Panel-left .links {
  font-family: 'Roboto Slab', serif;
  display: flex;
  font-size: 0.8rem;
  color: #4386bf;
  margin-top: 1.5em;
}

.Lesson-Panel-left .links .link {
  padding-right: 1em;
}

.Lesson-Panel-left .links .link:not(:first-child) {
  padding-left: 1em;
  border-left: 1px solid #ccc;
}

.Remove {
  font-size: 0.8rem;
  font-weight: 400;
  color: #4386bf;
  border: none;
  background-color: inherit;
}

/* -------------Lesson-Panel-middle--------------------- */

.Lesson-Panel-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-circle .circle {
  height: 60px;
  width: 60px;
  border-top: 5px solid var(--azure);
  border-right: 5px solid var(--azure);
  border-bottom: 5px solid var(--azure);
  border-left: 5px solid #ccc;
  transform: rotate(45deg);
  border-radius: 50%;
}

.progress-info {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin-left: 1em;
}

.progress-info-percentage {
  font-size: 2rem;
}

.progress-info-status {
  color: #121212;
  opacity: 0.5;
}


/* ----------------Lesson-Panel-right------------------- */

.Lesson-Panel-right {
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 8em;
}

.chapter {
  opacity: 0.5;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--black-two);
}

.chapter-number {
  font-weight: 400;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.chapter-progress-button {
  border-radius: 3px;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--azure);
  padding: 0.5em 1.5em;
}

.line {
  height: 4.375rem;
  border: solid 1px #e8e8e8;
}

/* ----------------------FORM----------------- */

.form-container {
  max-width: 1200px;
  margin: 0 auto;
}

.form-container h2 {
  color: #888;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form input {
  width: 60%;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding: 1em;
}

form select {
  width: 18%;
  padding: 1em;
  border: none;
  background-color: #fff;
}

form button {
  width: 18%;
  padding: 1em;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--azure);
  font-family: 'Roboto Slab', serif;
  border: none;
  border-radius: 0.2em;
}
